

body {
    margin: 0px;
    max-width: 60%;
    margin: auto;
}

:root {
    --primary-yellow :#FCD34D;
}

nav {
    background-color: var(--primary-yellow);
    padding: 3%;
    
}

h1 {
    /* https://api.funtranslations.com/translate/minion.json */
    margin-block-start: 0rem;
}

img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    display: block;
    margin: auto;
}